body {
  font-family: 'Montserrat';
  font-weight: 400;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat';
  font-weight: 800;
}

p {
  color: grey;
}

/* Headings */

.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
  color: white;
}

.section-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid {
  padding: 7% 15%;
}

/* Sections */

.coloured-section {
    background-color: #ff4c68;
    color: #fff;
}

.white-section {
    background-color: #fff;
}

/* Navigation Bar */

.navbar {
  padding-bottom: 4.5rem;
  padding-left: 0;
  margin-left: 0;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-weight: bold;
  font-size:2.5rem;
  margin-right: 1rem;
  text-decoration: none;
  white-space: nowrap;
}

.nav-item {
  padding: 0 20px;
}

.nav-link {
  font-family: 'Montserrat';
  font-weight: lighter;
  font-size: 1.2rem;
}

/* Download Buttons */

.button {
  margin: 30%;
}
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title section */

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

.title-image {
  transform: rotate(25deg);
  position: absolute;
  right: 15%;
}

/* Features */

.icon {
  padding: 5% 10%;
  color: #ff4c68;
}

.icon:hover {
  color:red;
}

#features {
  position: relative;
  z-index: 1;
}

.feature-title {
  font-size: 1.5rem;
}

.features-row {
  line-height: 3;
  padding: 5%;
}

/* Testimonials section */

#testimonials {
  z-index: 1;
}

.testimonials-pic {
  width: 10%;
  border-radius: 50%;
  margin: 20px;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

/* Press */

#press {
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing */

#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3.5rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* Call to Action Section */

/* Footer */

#footer {
  margin: 5% 0 0 0;
}

.fa-2x {
  padding: 0 10px;
}

/* MEDIA QUERY */
@media (max-width:1028px) {
  #titile {
    text-align: center;
  }

  .title-image {
    position: static;
    transform:rotate(0);
  }
}
